<!DOCTYPE html>
<html>
<head>
    <title>Facial Recognition</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Facial Recognition</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="capture">Capture</button>
    <div id="result"></div>

    <script>
        // Access the webcam feed
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
            })
            .catch(function (err) {
                console.log("An error occurred: " + err);
            });

        // Capture image from webcam feed
        document